.about-container {
  min-height: calc(100vh - 80px);
}

.about-header {
  display: flex;
  height: 25vh;
  max-height: 320px;
  align-items: center;
  margin: auto;
  justify-content: center;
  font-size: 3rem;
  background: url('../assets/images/img-2.jpg') center center/cover no-repeat;
  background-blend-mode: multiply;
  background-color: #999;
  color: white;
}

.about-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: auto;
  width: auto;
  max-width: 800px;
  margin: 5vh auto;
  padding: 5vh;
}

.about-title {
  font-size: 2.2rem;
}

.about-image {
  display: flex;
  width: auto;
  height: auto;
  max-height: 300px;
  margin: 1rem auto;
}