.about-container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 80px);
}

.about-header {
  display: flex;
  height: 25vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  background: url('../assets/images/img-1.jpg') center center/cover no-repeat;
  background-blend-mode: multiply;
  background-color: #999;
  color: white;
}

.about-content {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 90%;
  max-width: 1000px;
  margin: 5vh auto;
  padding: 5vh;
}

.about-text {
  margin-right: 25px;
  text-align: left;
}

.about-title {
  font-size: 2.2rem;
  margin: 15px 0;
}

.about-text > p {
  margin: 1.5rem 0;
}

.about-image {
  display: flex;
  width: auto;
  height: auto;
  max-height: 300px;
  margin: 1rem auto;
}

@media screen and (max-width: 768px) {
  .about-content {
    flex-direction: column;
  }

  .about-text {
    text-align: center;
  }
}