.contact-container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 80px);
}

.contact-header {
  display: flex;
  height: 25vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  background: url('../assets/images/img-2.jpg') center center/cover no-repeat;
  background-blend-mode: multiply;
  background-color: #999;
  color: white;
}

.contact-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: auto;
  width: auto;
  margin: 5vh auto;
}

section {
  margin: 20px 0;
}

.contact-content a, .contact-content a:visited {
  color: black;
  text-decoration: none;  
}

.social-icon-link {
  font-size: 24px;
  padding: 0;
  margin: 0 7px;
}