footer {
  background: black;
  padding: 20px 0;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.social-icon-link {
  color: white;
  font-size: 24px;
  padding: 14px 10px 10px;
  margin: 0;
}