.home-container {
  background: url('../assets/images/background.jpg') center center/cover no-repeat;
  background-blend-mode: multiply;
  background-color: #999;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
  margin: -80px 0 0 0;
}
  
.home-container > h1 {
  color: #fff;
  font-size: 100px;
  }
  
.home-container > p {
  color: #fff;
  font-size: 32px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
  
.contact-button {
  margin: 1rem;
}
  
@media screen and (max-width: 960px) {
  .home-container > h1 {
    font-size: 70px;
  }
}
  
@media screen and (max-width: 768px) {
  .home-container > h1 {
    font-size: 50px;
  }

  .home-container > p {
    font-size: 30px;
  }
}