.projects-container {
  min-height: calc(100vh - 80px)
}

.projects-header {
  display: flex;
  height: 25vh;
  max-height: 320px;
  align-items: center;
  margin: auto;
  justify-content: center;
  font-size: 3rem;
  background: url('../assets/images/img-3.jpg') center center/cover no-repeat;
  background-blend-mode: multiply;
  background-color: #999;
  color: white;
}

hr {
  width: 80vw;
  max-width: 600px;
  margin: 0 auto;
}