* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}
  
.home, .about, .contact, .projects {
    display: flex;
    height: 15vh;
    /* align-items: center; */
    margin: 10vh 0 0 0;
    justify-content: center;
    font-size: 3rem;
}
  
.post-block {
    justify-content: center;
    align-items: center;
    /* display: flex; */
    flex-direction: column;
    height: auto;
    width: auto;
    max-width: 1000px;
    margin: 5vh auto;
    padding: 5vh;
}

.header {
    justify-content: center;
    align-items: center;
    /* display: flex; */
    margin: 15px 0;
}

.title {
    justify-content: center;
    align-items: center;
    display: flex;
    /* margin: 15px 0; */
}

.links {
    justify-content: center;
    align-items: center;
    display: flex;
    /* margin: 15px 0; */
}

a {
    margin: 0 5px;
}

.content {
    display: flex;
}

.text {
    display: flex;
    padding: 0 0 0 15px;
}

.image {
    display: flex;
    float: left;
    width: auto;
    height: 20vh;
}