* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}
  
.home, .about, .contact, .projects {
    display: flex;
    height: 20vh;
    /* align-items: center; */
    margin: 10vh 0 0 0;
    justify-content: center;
    font-size: 3rem;
}
  
.post-block {
    display: block;
    margin: 10vh 0 5vh 5vh;
}

.title {
    display: flex;
    margin: 0;
}

.text {
    display: flex;
    margin: 0;
}

.image {
    display: flex;
    float: left;
    height: auto;
    width: auto;
    max-height: 25vh !important;
    box-sizing: border-box;
}