* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.6em;
}

body {
  min-height: 100%;
}
  
.home, .about, .contact, .projects {
  display: flex;
  height: 25vh;
  align-items: center;
  margin: auto;
  justify-content: center;
  font-size: 3rem;
}

.about {
  background: url('./assets/images/img-2.jpg') center center/cover no-repeat;
  background-blend-mode: multiply;
  background-color: #999;
  color: white;
}

.about-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: auto;
  max-width: 800px;
  margin: 5vh auto;
  padding: 5vh;
}

.about-block .title {
  font-size: 2.2rem;
}

.contact {
  background: url('./assets/images/img-3.jpg') center center/cover no-repeat;
  background-blend-mode: multiply;
  background-color: #999;
  color: white;
}

.contact-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  height: auto;
  width: auto;
  margin: 100px auto;
}
  
.social-media {
  max-width: 1000px;
  width: 100%;
  margin: 5vh auto;
}
  
.social-media-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto 0 auto;
}
  
.social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 25%;
}

.contact-block a, .contact-block a:visited {
  color: black;
  text-decoration: none;  
}

.projects {
  background: url('./assets/images/img-4.jpg') center center/cover no-repeat;
  background-blend-mode: multiply;
  background-color: #999;
  color: white;
}
  
.post-block {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: auto;
  max-width: 800px;
  margin: 5vh auto;
  padding: 5vh;
}

.header {
  margin: 0 0 15px 0;
}

.title {
  justify-content: center;
  align-items: center;
  display: flex;
}

.links {
  justify-content: center;
  align-items: center;
  display: flex;
}

.links a, .links a:visited {
  color: black;
  margin: 0 5px;
}

.content {
  display: block;
  text-align: center;
}

.image {
  display: flex;
  width: auto;
  height: auto;
  max-height: 300px;
  margin: 1rem auto;
}

hr {
  width: 80vw;
  max-width: 600px;
  margin: 0 auto;
}