* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.6em;
}
  
.home, .about, .contact, .projects {
    display: flex;
    height: 25vh;
    align-items: center;
    margin: auto;
    justify-content: center;
    font-size: 3rem;
}

.about {
    background: url('./assets/images/img-2.jpg') center center/cover no-repeat;
    background-blend-mode: multiply;
    background-color: #999;
    color: #fff;
}

.about-block {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: auto;
    max-width: 600px;
    margin: 5vh auto;
    padding: 5vh;
}

.about-block h1 {
    font-size: 2.2rem;
}

.contact {
    background: url('./assets/images/img-3.jpg') center center/cover no-repeat;
    background-blend-mode: multiply;
    background-color: #999;
    color: #fff;
}

.contact-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: auto;
    min-height: 57.7vh;
    width: auto;
    margin: auto auto;
}

.contact-block a, .contact-block a:visited {
    color: black;
    text-decoration: none;
    
}

.projects {
    background: url('./assets/images/img-4.jpg') center center/cover no-repeat;
    background-blend-mode: multiply;
    background-color: #999;
    color: #fff;
}
  
.post-block {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: auto;
    max-width: 800px;
    margin: 5vh auto;
    padding: 5vh;
}

.header {
    margin: 0 0 15px 0;
}

.title {
    justify-content: center;
    align-items: center;
    display: flex;
}

.links {
    justify-content: center;
    align-items: center;
    display: flex;
}

.links a, .links a:visited {
    color: black;
    margin: 0 5px;
}

.content {
    display: flex;
}

.text {
    text-align: center;
    display: flex;
}

.image {
    display: flex;
    width: auto;
    height: auto;
    max-height: 30vh;
    margin: 0 auto;
}

hr {
    width: 80vw;
    max-width: 600px;
    margin: 0 auto;
}